<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eloge de l'amour</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<a href="Item3.php">Retour presentation des poemes</a><br>
	<a href="Item3p1.html">Le Dormeur du Val</a><br>
	<a href="Item3p2.html">A ceux qu'on foule aux pieds</a><br>

	<h1>Eloge de l'amour</h1>
	<h4>de Jean de La Fontaine</h4>
	<span>Tout l'Univers obéit à l'Amour ;<br>
	Belle Psyché, soumettez-lui votre âme.<br>
	Les autres dieux à ce dieu font la cour,<br>
	Et leur pouvoir est moins doux que sa flamme.<br>
	Des jeunes coeurs c'est le suprême bien<br>
	Aimez, aimez ; tout le reste n'est rien.<br>
	<br>
	Sans cet Amour, tant d'objets ravissants,<br>
	Lambris dorés, bois, jardins, et fontaines,<br>
	N'ont point d'appâts qui ne soient languissants,<br>
	Et leurs plaisirs sont moins doux que ses peines.<br>
	Des jeunes coeurs c'est le suprême bien<br>
	Aimez, aimez ; tout le reste n'est rien.<br>
	<br>
	<i>1669</i></span>
	
	<br><br><br><br>

	<address>
	Written by <a href="cedric.klein75003@gmail.com">Cédric Klein</a>.<br>
	Visit us at:<br>
	Afpa.fr<br>
	AFPA Champs sur Marne<br>
	FRANCE
	</address>
</body>
</html>