<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Le dormeur du val</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<a href="Item3.php">Retour presentation des poemes</a><br>
	<a href="Item3p2.html">A ceux qu'on foule aux pieds</a><br>
	<a href="Item3p3.html">Eloge de l'amour</a><br>

	<h1>Le Dormeur du Val</h1>
	<h4>de Arthur Rimbaud</h4>
		<span>&#160;C'est un trou de verdure où chante une rivière<br>
		Accrochant follement aux herbes des haillons<br>
		D'argent ; où le soleil, de la montagne fière,<br>
		Luit: c'est un petit val qui mousse de rayon<br>
		<br>
		&#160;Un soldat jeune, Bouche ouverte, Tête nue,<br>
		Et la nuque baignant dans le frais cresson bleu,<br>
		Dort, il est étendu dans l'herbe , sous la nue,<br>
		Pâle dans son lit vert où la lumière pleut.<br>
		<br>
		&#160;Les parfums ne font pas frissonner sa narine ;<br>
		il dort dans le soleil, la main sur sa poitrine<br>
		Tranquille. il a deux trous rouges au côté droit.<br>
		<br>
		<i>Octobre 1870</i></span>
	
	<br><br><br><br>

	<address>
	Written by <a href="cedric.klein75003@gmail.com">Cédric Klein</a>.<br>
	Visit us at:<br>
	Afpa.fr<br>
	AFPA Champs sur Marne<br>
	FRANCE
	</address>
</body>
</html>